.navbar a {
    font-size: 15px;
    color: wh;
}

.nav-link:hover {
    background: grey;
}

.navbar-brand {
    margin-top: -12px;
}

.carousel-item img {
    height: 650px;
    background-size: cover;
}

.carousel-caption h1 {
    margin-top: -535px;
}

#about {
    color: black;
}

.section {
    padding-top: 5rem;
}