.navbar {
    background-color: black;
}

.navbar a {
    font-size: 15px;
}

.nav-link:hover {
    background: grey;
}

.navbar-brand {
    margin-top: -12px;
}

.carousel-item img {
    height: 750px;
    background-size: cover;
}

.carousel-caption h1 {
    margin-top: -200px;
}



section {
    padding-top: 5rem;
}

#news,
#gallery,
    {
    margin-top: -75px;
}

#contact {
    margin-top: -30px;
}


.embed-responsive-item {
    width: 100%;
}

.email {
    margin-top: -10px;
}

.b-example-divider {
    height: 3rem;
    background-color: black;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    margin-top: 15px;
}

.bi {
    vertical-align: -.125em;
}